{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                {% for kategori in kategoriler %}
                    <a href="#" class="list-group-item list-group-item-action">
                        {{ kategori.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                {% for film in filmler %}
                    <div class="col-4 mb-4">
                        {% include 'partials/_movie.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

